html {
  scroll-behavior: smooth;
}


* {
  margin: 0%;
  padding: 0;
}

.inter-uniquifier,
body {
  font-family: "Inter", sans-serif;

}







header {
  height: 75x;
  width: 100%;
  background-color: #ffffff;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-around;
}


.logo img.eduonlogo {
  height: 60px;
  width: fit-content;
}

.nav-items {
  display: inline-flex;
  align-items: center;
  gap: 20PX;

}

header>.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 11pt;

}

header>.nav-items a:hover {
  color: #ffb607;
  text-decoration: underline 2px 2px;
  transition-duration: .2s;
}

.search-cart-button {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.search-cart-button a>img:hover {
  color: #111111;
  scale: 1.1;
  transition-duration: .3s;
}

.search-cart-button button.login-button {
  background-color: #ffb607;
  border-radius: 5px;
  height: 30px;
  width: 140px;
  border: none;
  color: white;
  font-size: 11pt;
}

.search-cart-button button.login-button:hover {
  color: #111111;
  scale: 1.02;
  transition-duration: .3s;
  box-shadow: 0 0 5px#555555;
  ;
}

.mobile-login-button {
  display: none;
}













/* 


header nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 2;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav li {
  padding: 0 1vw;
}

nav li a {
  text-decoration: none;
  color: #111111;
  text-transform: capitalize;
}

nav li a:hover {
  color: #ffb607;
  text-decoration: underline;
}

nav li img:hover{
    color: #111111;
    scale: 1.1;
    
    transition-duration: .3s;

}

.Loginregister {
  color: white;
  background-color: #ffb607;
  height: 35px;
  border-radius: 5px;
  line-height: 35px;
  padding: 0 7px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: .3s;
}
button{
  border: none;
}

.Loginregister:hover {
  color: #111111;
  scale: 1.02;
  box-shadow: 0 0 5px#555555;
}

.logo {
  height: 35px;
  width: fit-content;
  padding-top: 7px;
} */

.menuline {
  background-color: rgb(0, 0, 0);
  height: 3px;
  width: 20px;
  border-radius: 5px;
  margin: 4px;

}

.menu {
  background-color: white;
  border: none;
  cursor: pointer;
  align-self: center;
  position: absolute;
  right: 25px;
  top: 20px;
  display: none;
  z-index: 2;
}


.loginbutton {
  margin-top: 8px;
  margin-left: 550px;
}

button:hover {
  transition-duration: 0.3s;
  background-origin: padding-box;
  color: black;
  cursor: pointer;
}

.frame1 {
  padding-top: 75px;
  background-color: #f5f6fa;
  width: 100%;

}

.frame1-flex {
  display: flex;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr;
  align-items: center;


}

.frame1-content {
  margin: 25vh 0 20vh 11vw;
  padding-bottom: 100px;
}

.frame1-img {
  margin: 0 11vw 0 0;
}


.frame1 h1 {
  font-size: 55px;
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 40px;
}

.frame1 .lorem {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 40px;
}

.viewcoursebutton button {
  font-size: 16px;
  color: white;
  background-color: #ffb607;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;

}


.viewcoursebutton button:hover {
  scale: 1.05;
  box-shadow: 0 0 5px#555555;
  color: black;
}


.frame1 a {
  text-decoration: none;
  margin-bottom: 50px;

}



.frame1 img {
  height: auto;
  width: 600px;

}



.frame2 {

  width: 100%;
  background-color: white;
}

.stit {
  text-align: center;
  color: #ffb607;
  margin-top: 40px;
}

.mtit {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}

.alllogo {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin: 5vh 10vw 0vh 10vw;
}

.logo12 {
  margin-bottom: 7vh;
}

.alllogo img {
  width: auto;
  height: 195px;
}

.image2 {
  text-align: center;
}

.imagerow31 {
  height: 180px;
  width: 320px;
  object-fit: cover;
}

.frame3 {
  height: fit-content;
  width: 100%;
  background-color: #f5f6fa;
}

.f3container {
  display: flex;
  flex-wrap: wrap;
  border: #F5F6FA solid 100px;
  gap: 25px;
  justify-content: center;
  margin: 50px auto;
}

.f3tables {
  width: auto;
  background-color: white;
  cursor: pointer;
}

.f3tables:hover {
  scale: 1.02;
  box-shadow: 0 0 5px #555555;
  transition: .3s ease-out
}

.f3tablesyellowtext {
  color: #ffb607;
  padding: 15px 5px;
}

.f3tablespbiggertext {
  font-size: 20px;
  padding: 0 5px;
}

#f3-table-pic3{
  position:relative;
}
#topup-button{
  height: 25px;
  width: 25px;
  background-color: #ffb607;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 20px;
  left: 97%;
}
#topup-button img{
  width: 15px;


}


.frame4 {
  height: fit-content;
}



.multiplebox4 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10vh 15vw;

  justify-content: center;
}


.frame4image1,
.frame4image2,
.frame4image3,
.frame4image4,
.frame4image5,
.frame4image6,
.frame4image7,
.frame4image8 {
  height: 100px;
  width: 250px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  background-size: cover;
  color: white;
  justify-content: center;
  padding-top: 55px;
  box-shadow: 0 0 10px rgb(92, 92, 92);
  line-height: 20px;
  cursor: pointer;
}



.frame4image1:hover,
.frame4image2:hover,
.frame4image3:hover,
.frame4image4:hover,
.frame4image5:hover,
.frame4image6:hover,
.frame4image7:hover,
.frame4image8:hover {
  scale: 1.02;
  box-shadow: 0 0 5px #555555;
  transition: .3s ease-out
}


.frame4image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(images/design.jpg);
}

.frame4image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(images/development.jpg);
}

.frame4image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(images/business.jpg);
}

.frame4image4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(images/marketing.jpg);
}

.frame4image5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(images/it&software.jpg);
}

.frame4image6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(images/datascience.jpg);
}

.frame4image7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(images/photography.jpg);
}

.frame4image8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(images/music.jpg);
}



.allcatebutton {
  display: flex;
  align-items: center;
  justify-content: center;

}

.allcatebutton button {
  color: white;
  background-color: #ffb607;
  height: fit-content;
  width: fit-content;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.allcatebutton button:hover {
  color: #111111;
  scale: 1.02;
  box-shadow: 0 0 5px#555555;
}

.yellowrectangle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10vh auto;
  justify-content: center;

}

.yellowboxcontent {
  color: white;
  line-height: 40px;
  padding-left: 40px;
  height: 150px;
  width: 330px;
  align-self: center;
  align-items: center;
}

.yellowpt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffb607;
  padding: 20px 10px;
  margin-bottom: 20px;
  min-width: 300px;
}

.logojess {
  display: flex;
  margin: 40px auto;
  justify-content: center;

}

.logojess img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-size: cover;
  border-radius: 50%;
  margin-right: 15px;

}

.buynowbutton {
  text-align: end;
}


.buynowbutton button {
  line-height: 30px;
  color: white;
  border: none;
  background-color: #82B440;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  box-shadow: 0px 0px 15px #82B440;
  margin: 0 25px 5px 0;
}

.buynowbutton button:hover {
  color: black;
  scale: 1.05;
  transition-duration: .5s;

}

.scrollbars {
  display: flex;
  justify-content: center;
  margin: 10px 10px 40px 10px;
}

.scroll {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #ffb607;
  margin: 2px;
}

.scroll1 {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: grey;
  margin: 2px;
}

.frame5 {
  background-color: #f5f6fa;
  width: 100%;
}

.frame5main {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
}


.frame5img2 {

  height: fit-content;
  width: 550px;
  margin-top: 130px;
  align-items: center;
  justify-content: center;

}

.frame500 {
  padding-top: 50px;
  height: fit-content;
}

.frame5box {
  background-color: rgb(255, 255, 255);
  height: 180px;
  width: 700px;
  align-content: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.2;
}

.fr5datetime {
  margin-top: 20px;
  padding-left: 20px;
}

.fr5location {
  margin-bottom: 20px;
  padding-left: 20px;
}

.frame5cont h4 {
  padding: 20px 0;
  padding-left: 20px;
  font-weight: 550;
  font-size: medium;
}

.frame5cont img {
  width: 13px;
  height: 13px;
}

.frame5cont555 {
  color: #9fa8af;
  padding-right: 5%;
  font-size: 12px;
  font-weight: 450;
}

.frame5cont556 {
  color: #9fa8af;
  font-size: 12px;
  font-weight: 450;
}

.frame5cont666 {
  color: #9fa8af;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 450;
}

.frame500 .s501 {
  height: 150px;
  width: fit-content;
  padding-top: 20px;
}

.stitframe5 {
  color: #ffb607;
  padding-top: 60px;
  margin-left: 11%;
}

.mtitframe5 {
  padding-top: 10px;
  font-size: 30px;
  margin-left: 11%;
}


.frame6 {
  background: linear-gradient(white, #f5f6fa);
  width: 100%;
}

.framebox {
  height: auto;
  justify-content: center;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.boxxx {
  height: 380px;
  width: 250px;
  object-fit: cover;
  background-position: center;
  background-color: #d6d2db;
}

.boxxx1 {
  height: 380px;
  width: 250px;
  background-size: cover;
  background-color: #d6d2db;
}

.box {
  margin: 10px;
  height: 500px;
  width: 250px;
  border: black 2px;
  background-color: white;
  line-height: 1.5;
  cursor: pointer;
}

.box:hover {
  scale: 1.02;
  box-shadow: 0 0 5px #555555;
  transition: .3s ease-out;
}

.box h2 {
  margin-top: 25px;
}

.ecclipses {
  margin: 0px 22vw 0 22vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  gap: 10px;
}

.ecclipses img {
  height: 100px;
}

.ecclipses div {
  text-align: center;
  margin: 30px auto;
}

.ecclipsestext span {
  text-align: center;
  font-size: large;


}

.dividerframe6 {
  background-color: #d7dadf;
  height: 1.5px;
  width: 75vw;
  justify-content: center;
  margin: auto;

}

.frame7 {
  height: fit-content;
}

.frame7container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: space-evenly;
}

.picfr7 p {
  color: #ffb607;
  padding-top: 15px;
}

.picfr7 h3 {
  padding-top: 15px;
}

.dividerframe7 {
  background-color: #d7dadf;
  height: 1px;
  width: 280px;
  margin: 15px 0px 15px 20px;
}

.picfr7 {
  height: 380px;
  width: 320px;
  min-width: 300px;
  margin: 25px auto;
  line-height: 1.2;
  box-shadow: 1px 1px 20px -10px#2727278f;
  cursor: pointer;
}

.picfr7:hover {

  scale: 1.02;
  box-shadow: 0 0 5px #555555;
  transition: .3s ease-out
}

.picfr7 p,
.picfr7 h3,
.picfr7 span {
  padding-left: 20px;
}

.picfr7 span {
  color: #9fa8af;
  font-size: 14px;
}

.picfr7 img {
  height: 200px;
  width: 320px;
  background-position: center;
  object-fit: cover;
}

.frame8 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f6fa;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding: 50px 0;
}

.frame8 div {
  display: flex;
  margin: 30px 30px;
}

.frame8 div img {
  align-items: center;
  height: 30px;
  width: 30px;
}

.frame9 {
  width: 100%;
  background-color: #111111;
}

.frame09 {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
}

.frame09 .disclaimercontent {
  margin: 40px 5%;
  text-align: center;
}

.frame09 .disclaimercontent div {
  display: flex;
  justify-content: center;
}

.frame09 .disclaimercontent div img {
  height: 20px;
  width: fit-content;
  align-self: center;
  padding-right: 10px;
}

.disclaimercontent h2,
.disclaimercontent p {
  margin: 20px 0;
}

.dividerframe9 {
  background-color: #d7dadf79;
  height: 1.5px;
  width: 75vw;
  position: relative;
  margin: 0 auto;
}

.frame9999 {
  position: absolute;
  margin-top: 18.7%;
  left: 5%;
}

.copyrights {
  display: flex;
  justify-content: center;
  color: white;
  padding: 1.5%;
}

.copyrights img {
  position: relative;
  bottom: 3.5px;
  right: 5px;
}

.copyrights p {
  font-size: 15px;
}

.copyrights span{
  color: #ffb607;
}


@media all and (max-width: 1150px) {

  .frame5img2 {
    display: none;
  }

  .frame1-img {
    display: none;
  }
}



@media all and (max-width:800px) {
  header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 75px;
    flex-direction: column;
  }

  header .logo {
    align-self: flex-start;
  }

  header .nav-items,
  header .search-cart-button {
    flex-direction: column;
    width: auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 100px 100vw 130px 100vw;
  }


  header .nav-items>div,
  header .search-cart-button>div {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .mobile-login-button {
    display: block;
    border: none;
    background-color: #ffb607;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    margin-top: 30px;

  }


  .menu {
    background-color: none;
    border: none;
    display: block;
    position: fixed;
    right: 25px;
    top: 25px;
  }

  .showmenu {
    display: block;
  }

  .hide {
    display: none;
  }

  .frame1 h1,
  .lorem {
    width: 100vw;
  }

  .frame1-flex {
    display: block;
  }

  .frame1-content {
    margin: 0 30px;
  }

  .viewcoursebutton button {
    margin: 0%;
    padding: 0;
  }

  .viewcoursebutton {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .buynowbutton {
    text-align: center;
  }

  .buynowbutton button {
    margin: 0%;
  }

  .frame5box {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
  }

  .frame5cont {
    width: 320px;
  }

  .frame1 h1 {
    font-size: 42px;
    line-height: 1.5;
    font-weight: bold;
    padding: 15vh 0 25px 0;
    width: 81vw;
  }

  .frame1 .lorem {
    font-size: 16px;
    line-height: 1.5;
    padding: 70px 0 70px 0;
    width: 81vw;
    text-align: center;
  }
}





/* branding ---------------------------------------------branding / login --------------------------------------------------------------------------login */



